h1 {
  text-align: center;
  color: #941515;
  margin-top: 25px; }

.col {
  margin-top: 50px; }

.logo {
  height: 50%; }

h2 {
  text-align: center; }

.badge {
  color: black; }

.iconoEliminar {
  height: 20px; }

.rubros {
  border: none;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)); }

.botonEliminar {
  color: red;
  font-weight: 800;
  background-color: transparent;
  border: none; }

.escondido {
  display: none; }

#alerta {
  display: none; }

.alternativo {
  text-align: center;
  margin-top: 25px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif; }

.backHome {
  color: green;
  font-family: Arial, Helvetica, sans-serif; }

.cartaSimpson {
  margin: 30px auto; }
