h1 {
  text-align: center;
  color: #941515;
  margin-top: 25px; }

.col {
  margin-top: 50px; }

.logo {
  height: 50%; }

h2 {
  text-align: center; }

.badge {
  color: black; }

.iconoEliminar {
  height: 20px; }
