h1 {
	text-align: center;
	color: rgb(148, 21, 21);
	margin-top: 25px;
}

.col {
	margin-top: 50px;
}

.logo {
	height: 50%;
}

h2 {
	text-align: center;
}

.badge {
	color: black;
}

.iconoEliminar {
	height: 20px;
}

.rubros {
	border: none;
	background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
}

.botonEliminar {
	color: red;
	font-weight: 800;
}

.escondido {
	display: none;
}

#alerta {
	display: none;
}
