h1 {
	text-align: center;
	color: rgb(148, 21, 21);
	margin-top: 25px;
}

.col {
	margin-top: 50px;
}

.logo {
	height: 50%;
}

h2 {
	text-align: center;
}

.badge {
	color: black;
}

/*Rubros Navbar*/
.rubros {
	border: none;
	background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
}

/*Esconde el circulo que indica que hay productos en el carrito*/
.escondido {
	display: none;
}

/*Cartel de agregado al carrito*/
#alerta {
	display: none;
}

/*Texto alternativo por si se entra al carrito y esta vacio*/
.alternativo {
	text-align: center;
	margin-top: 25px;
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
}
.backHome {
	color: green;
	font-family: Arial, Helvetica, sans-serif;
}

/*Carta donde se muestra el personaje Simpson*/
.cartaSimpson {
	margin: 30px auto;
}

/*Carrito*/
.botonEliminar {
	color: red;
	font-weight: 800;
	background-color: transparent;
	border: none;
}
.nombreProducto {
	width: 32%;
}
.total {
	font-weight: bold;
	justify-content: flex-start;
}
.totalNumero {
	width: 30%;
}

.contenedorContador {
	width: 30%;
}

.contadorUnidades {
	border: none;
	text-align: center;
	text-decoration: none;
	background-color: transparent;
}

.down_count,
.up_count {
	background-color: rgb(82, 105, 182);
	border-color: rgb(82, 105, 182);
}

.icon-plus,
.icon-minus {
	color: white;
	font-weight: 700;
}
.btn-addCart {
	background-color: rgb(82, 105, 182);
	border-color: rgb(82, 105, 182);
}

.containerBotonFin {
	text-align: end;
	margin-right: -13px;
	margin-top: 25px;
}
.botonFinalizar {
	text-align: right;
}

// Administrador

.adminInputs {
	margin-top: 15px;
}

.copyright {
	margin-top: 20px;
}
